// ============ .env.example ============frontend
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000
REACT_APP_GOOGLE_MAPS_KEY=your_google_maps_api_key
RAZORPAY_KEY_ID=rzp_test_SULatAie2F0dlC
RAZORPAY_KEY=CH6TLUT1UndQ8uSZynBLZuXJ